include layout
block scripts append
    script(src="/js/4teg.js")
    
block content
    body
        div(data-role="header")
            h1 4TEG User

        div
            div(style="padding:0 10px 10px 10px;float:left")
                img(src="#{user.photo}")
            div(style="margin-left:108px")
                h2(style="margin-bottom:.5em") #{user.firstName} #{user.lastName}
                span #{user.homeCity}
                ul
                  li Badges: #{user.badges.count}
                  li Mayorships: #{user.mayorships.count}
                  li Checkins: #{user.checkins.count}
                  li 
                    strong Last Access: #{lastAccess}
